<%= render :template => 'welcome/index' %>

<div style="background-color: white;">
  <%= link_to 'Edit', edit_blog_path(@blog), :class => "admin" %> |
  <%= link_to 'Back', blogs_path, :class => "admin" %>
</div>
