<div id="mainPageHeader">
  <h1 class=blue>Biding Time</h1>
</div>

<div id="topNavbar" class="neon">
  <ul>
    <li>
      <a href="">Neon</a>
    </li>
    <li>
      <a class="active" href="">Effect</a>
    </li>
  </ul>
</div>

<div id="leftNavBars" class="neon">
  <ul>
    <li>
      <a href="">Neon</a>
    </li>
    <li>
      <a class="active" href="">Effect</a>
    </li>
  </ul>
</div>

<% Dir.glob("app/assets/images/*").each do |image| %>
  <div>
    <%= image_tag image.gsub("app/assets/images/", ""), {:class => "imageList"} %>
  </div>
<% end %>
