<div class="blog">
  <% @welcomes.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article} %>
  <% end %>
  <% @blogs.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article} %>
  <% end %>
  <% @interviews.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article} %>
  <% end %>
</div>
