// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#adminSection {
  background-color: #efefef;
  padding: 20px;
  margin-left: 151px;

}

#adminSection h1, h2 {
  color: black;
}
.admin {
  color: black;
}

.admin .adminLinks {
}

.admin a {
  color: black;
}
