// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
  width: 1024px;
  margin: auto;
  padding-top: 10px;
  background-color: #D7DCBD;
  color: #7E9916;
  color: #ACBD4F;
  color: #B7C181;
  color: #D7DCBD;
  color: #EDEFE2;
  background-image: url("grundgebackgroundmossygreenthick.jpg");
}

#mainPageHeader {
  height: 300px;
  background-image: url("vintage_29.jpg");
  background-image: url("grundgebackgroundmossygreenthick.jpg");
}

#mainPageHeader h1.pink {
  font-size: 12em;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Varela Round', sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

#mainPageHeader h1.blue {
  margin: 0;
  padding: 80px 0 0 20px;
  font-size: 11em;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  color: rgba(17, 80, 255, 0.36);
  text-shadow: 0 0 10px #fff, 0 0 20px #1102ff, 0 0 30px #fff, 0 0 40px #117bff, 0 0 70px #1e24ff, 0 0 80px #117bff, 0 0 100px #117bff, 0 0 150px #117bff;
}

#mainPageHeader h1.blue2 {
  font-size: 11em;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  color: rgba(1, 6, 163, 0.48);
  text-shadow: 0 0 10px #6ae9ff, 0 0 20px #6ae9ff, 0 0 30px #fff, 0 0 40px rgba(17, 123, 255, 0.23), 0 0 70px rgba(17, 123, 255, 0.34), 0 0 80px rgba(17, 123, 255, 0.34), 0 0 100px rgba(17, 123, 255, 0.34), 0 0 150px rgba(17, 123, 255, 0.34);
}

#topNavbar {
  background-color: black;
  height: 40px;
}

#topNavbar ul {
  margin: 0;
  list-style-type: none;
}

#topNavbar li {
  margin: 10px 20px 0 0;
  display: inline-block;
}

#topNavbar.neon a {
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: trebuchet ms;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px #FF00DE, 0 0 7px #FF00DE, 0 0 8px #FF00DE, 0 0 10px #FF00DE, 0 0 15px #FF00DE;
  text-shadow: 0 0 1px #6ae9ff, 0 0 2px #6ae9ff, 0 0 3px #fff, 0 0 4px rgba(17, 123, 255, 0.23), 0 0 7px rgba(17, 123, 255, 0.34), 0 0 8px rgba(17, 123, 255, 0.34), 0 0 10px rgba(17, 123, 255, 0.34), 0 0 15px rgba(17, 123, 255, 0.34);
  text-shadow: 0 0 1px #fff, 0 0 2px #1102ff, 0 0 3px #fff, 0 0 4px #117bff, 0 0 7px #1e24ff, 0 0 8px #117bff, 0 0 10px #117bff, 0 0 15px #117bff;
}

#topNavbar.neon a:hover {
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px #FF00DE, 0 0 2px #FF00DE, 0 0 3px #FF00DE, 0 0 4px #FF00DE, 0 0 5px #FF00DE;
}

#topNavbar.neon a:active {
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px #cb0000, 0 0 7px #cb0000, 0 0 8px #cb0000, 0 0 10px #cb0000, 0 0 15px #cb0000;
}

.leftNavBar {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.leftNavBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.leftNavBar li {
  margin: 10px 0 0 0;
}

.leftNavBar.neon a:hover {
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px #FF00DE, 0 0 2px #FF00DE, 0 0 3px #FF00DE, 0 0 4px #FF00DE, 0 0 5px #FF00DE;
  text-shadow: 0 0 1px #fff, 0 0 2px #1102ff, 0 0 3px #fff, 0 0 4px #117bff, 0 0 7px #1e24ff, 0 0 8px #117bff, 0 0 10px #117bff, 0 0 15px #117bff;
  background-color: rgba(255, 255, 255, 0);
}

.leftNavBar.neon a:active {
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px #cb0000, 0 0 7px #cb0000, 0 0 8px #cb0000, 0 0 10px #cb0000, 0 0 15px #cb0000;
}

.leftNavBar.neon a {
  text-decoration: none;
  font-family: "Andale Mono";
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px #FF00DE, 0 0 7px #FF00DE, 0 0 8px #FF00DE, 0 0 10px #FF00DE, 0 0 15px #FF00DE;
  text-shadow: 0 0 1px #fff, 0 0 1px #1102ff, 0 0 1px #fff, 0 0 1px #117bff, 0 0 2px #1e24ff, 0 0 3px #117bff, 0 0 4px #117bff, 0 0 5px #117bff;
}

.imageList {
  max-width: 640px;
}

#leftColumn {
  background-color: #adadad;
  width: 150px;
  height: 100%;
  float: left;
}

#mainArticlesSection {
  margin-left: 151px;
}


.flash.alert {
  color: red;
}

.blog {
  margin: 20px;
}

.blog .blogImage {
  width: 100px;
  height: 100px;
}

.blog h1 {
  color: red;
}

.blog .blogBody {
  background-color: tan;
  padding: 10px;
  width: 800px;
}

