<p>Copyright by the awesome Becca Slick</p>

<p>Man, she's so cool. JM has no idea what he is doing -- JM is worried you won't like him anymore with the changes.
  lol. But oddly he's only mad at Becca and somehow loves JM even more.</p>
