<div class="leftNavBar">
  <ul>
    <li>
      <div id="facebook" class="fulljustify small"> <a href="http://www.facebook.com/bidingtime.net?ref=hl" class="flickerEffect">F a c e b o o k</a></div>
      <div style="clear:both;"></div>
    </li>
    <li>
      <div id="twitter" class="fulljustify medium"><a href="https://twitter.com/JM_Damato" class="flickerEffect">T w i t t e r</a></div>
      <div style="clear:both;"></div>
    </li>
    <li>
      <div id="email" class="fulljustify large"><a href="mailto:email2012@bidingtime.net?subject=bidingtime2012&body=Thanks for contacting us. Please remove these lines or your email will not reach us. This helps protect us against spam." class="flickerEffect">E - M a i l</a></div>
      <div style="clear:both;"></div>
    </li>
    <li>
      <div id="imdb" class="fulljustify giant"><a href="http://www.imdb.com/name/nm2730760/" class="flickerEffect giant">I M D B</a></div>
      <div style="clear:both;"></div>
    </li>
  </ul>
</div>
<div id="archives" class="leftNavBar">
  <ul>
    <li>
      <div id="blog_archive" class="fulljustify small_gray">
        <a href="" class="flickerEffect">B l o g &nbsp; A r c h i v e</a></div>
      <div style="clear:both; height: 0px;"></div>
    </li>
    <li>
      <div id="interview_archive" class="fulljustify small_gray">
        <a href="" class="flickerEffect">I n t e r v i e w &nbsp; A r c h i v e</a></div>
      <div style="clear:both; height: 0px;"></div>
    </li>
    <li>
      <div id="essay_archive" class="fulljustify small_gray">
        <a href="" class="flickerEffect">P h o t o &nbsp; E s s a y s</a></div>
      <div style="clear:both; height: 0px;"></div>
    </li>
  </ul>
</div>
<div id="twitterFeed">
  <h3>Twitter Feed</h3>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>

  <p>something ssldkfl sldfkjsldkfjs lskdfj sldfksdlfj sd</p>
</div>
<% if can? :manage, :all %>
  <div class="leftNavBar adminLink">
    <ul>
      <li>
        <%= link_to("Admin", admin_path) %>
      </li>
    </ul>
  </div>
<% end %>

